* {
     color: rgb(196, 196, 196);
}
QWidget {
    background: #2d2e35;
}
QPlainTextEdit , QTextBrowser , QTableWidget, QTableWidgetItem {
    background-color: #1d1d22;
    font-size: 15px;
    font-weight: bold;
}
QLineEdit {
    background-color: #1d1d22;
}
QScrollBar {
    background: #2d2e35;
    color: #1d1d22;
 }
 



/*home page*/
#bt_delete {
    background:#800000;
}
#bt_add{
    background:#004d80;
}
#bt_random_3 {
    background:#005700;
}





/* translate page */
QTableWidget {
    font-size: 16px;
}
QTableWidget::item {
    background-color: #2d2e35;
    
}
QTableWidget::item::selected {
    background-color: #1d1d22;
}



QMenu {
         color: rgb(196, 196, 196);
}
QMenu::item:selected {
            background-color: #0078d4;
            color: #ffffff;
}
